*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --width: 55%;
    --text-color: #ffffff;
    --secondary-color: #90ECC5;
    --tertiary-color: #18E299;
    --woodsmoke-color: #08090B;
}

body{
    background: no-repeat url('./Assets/bg-dark.svg');
    background-color: #08090a;
    background-size: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-full-width{
    position: sticky;
    top: 0;
    backdrop-filter: blur(100px);
}

nav{
    background: rgba(255, 255, 255, 0);
    width: var(--width);
    margin: 0 auto;
    height: 65px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    height: 100%;
    margin: auto 0;
    position: sticky;
    top: 0;
}

.navbar .logo, footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navbar .logo img, footer .logo img{
    width: auto;
    height: 19px;
}
.navbar .logo .name, footer .logo .text{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
}

.navbar .middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.navbar .middle-section li{
    list-style: none;
    font-size: 14px;
}

.navbar .right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.navbar .right-section .contact{
    background: rgba(255, 255, 255, 0.068);
    height: 40px;
    width: 100px;
    border-radius: 15px;
}

.navbar .right-section .cta{
    background: rgba(255, 255, 255, 0.918);
    height: 40px;
    width: 100px;
    border-radius: 15px;
    color: #000000;
}


.hero-section .cta{
    width: 400px;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.164);
    justify-content: space-between;
    padding: 0 7px 0 0;
    border-radius: 30px;
    height: 30px;
}

.hero-section .cta .new{
    background-color: var(--tertiary-color);
    width: 50px;
    height: 100%;
    border-radius: 20px;
}

.hero-section .large-text{
    font-size: 50px;
    width: 500px;
    height: 155px;
    margin: 0 auto;
    text-align: center;
}

.hero-section .small-text{
    font-size: 16px;
    width: 400px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

.hero-section label{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
}

.hero-section label input{
    width: 400px;
    height: 100%;
    background: rgba(255, 255, 255, 0.349);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 0 0 0 20px;
}

.hero-section label input::placeholder{
    color: rgba(255, 255, 255, 0.986);
}

.hero-section label button{
    height: 100%;
    width: 100px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.hero-section .image-wrapper{
    margin: 0 auto;
    margin-top: 100px;
    width: var(--width);
}

.hero-section .image-wrapper img{
    border-radius: 20px;
    width: 100%;
}

.brands{
    margin-top: 122px;
    margin-bottom: 200px;
}

.brands .row{
    display: grid;
    width: var(--width);
    margin: 0 auto 50px;
    grid-template-columns: repeat(4, 1fr);
}

.features .large-text{
    font-size: 35px;
    width: var(--width);
    /* height: 50px; */
    margin: 0 auto 20px;
    text-align: center;
    font-weight: bold;
}

.features .small-text{
    font-size: 16px;
    width: 600px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

.features .row-1{
    width: var(--width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
/* 
.features .row-1 div{
    width: calc(var(--width)-10px);
} */

.features .row-2, .section-3{
    width: var(--width);
    margin: 20px auto 100px;
}

.features .row-2 img{
    width: 99%;
}

.section-1{
    width: var(--width);
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.section-1 .left-section .text-1{
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

.section-1 .left-section .text-2{
    font-size: 30px;
    width: 350px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-1 .left-section .text-3{
    font-size: 14px;
}

.section-1 .right-section div{
    background-color: var(--text-color);
    width: 200px;    
    height: 40px;
    border-radius: 40px;
}

.section-1 .right-section div a{
    text-decoration: none;
    color: var(--woodsmoke-color);
}

.section-2{
    width: var(--width);
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.section-2 i{
    color: var(--tertiary-color);
    margin-bottom: 15px;
}

.section-2 .text-1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-2 .text-2{
    font-size: 14px;
}

.section-3{
    margin-bottom: 30px;
}

.section-3 img{
    width: 100%;
}

.customers .text-1{
    text-align: center;
    letter-spacing: 1px;
    color: var(--tertiary-color);
    font-size: 10px;
    margin: 100px auto 10px;
    font-weight: bold;
}

.customers .text-2{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;

}

.customers .text-3, .ctas .text-2{
    text-align: center;
    width: 580px;
    margin: 0 auto 30px;
}

.customers .grid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: calc(var(--width) + 60px);
    margin: 0 auto;
    gap: 15px;
}

.customers .grid-section .card{
    width: 360px;
}

.customers .grid-section .card img{
    width: 360px;
    height: 250px;
    border-radius: 10px;
}

.customers .grid-section .card .content{
    font-size: 15px;
    margin: 10px 0 10px;
    color: #ccc;
}

.customers .grid-section .card .cta{
    color: #bbb;
    font-size: 12px;
}

.customers .arrows{
    width: 10px;
    margin: 30px auto 200px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ctas{
    padding-bottom: 150px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* bordeidth: var(--width); */
}

.ctas .text-1{
    width: 426px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ctas .buttons{
    gap: 10px;
    margin-bottom: 100px;
}

.deco-none{
    text-decoration: none;
}

.ctas .buttons .button-1{
    width: 180px;
    height: 20px;
    background-color: var(--text-color);
    padding: 20px;
    border-radius: 20px;
}

.ctas .buttons .button-2{
    width: 130px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--text-color);
}

.ctas .sections{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: var(--width);
    margin: 0 auto;
}

.sections .left-section, .sections .right-section{
    text-align: center;
}

.sections .left-section{
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}


footer{
    width: var(--width);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
}

footer .socials{
    display: flex;
    gap: 20px;
    color: #ccc;
    font-size: 18px;
}

footer .footer-categories{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: start;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
}

footer .footer-categories .category{
    padding: 20px;
}

footer .footer-categories .category li{
    margin-bottom: 10px;    
    list-style: none;
}

footer .footer-categories .category .category-topic{
    color: #ccc;
}

footer .certified{
    display: flex;
    padding: 20px 40px;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

footer .certified div img{
    height: auto;
    width: 100px;
}

.copyright{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.copyright .system-check{
    height: 24px;
    background-color: #534f4f38;
    width: 160px;
    border-radius: 24px;
    gap: 10px;
}

.copyright .middle-section{
    color: #ccc;
}

.copyright .dark-mode{
    height: 28px;
    background-color: #534f4f38;
    width: 100px;
    border-radius: 24px;
    gap: 5px;
}

.selected{
    
    background-color: rgb(5, 5, 5);
    border-radius: 25px;
}

.section-4{
    margin: 10px auto 200px;
}

.section-4 .row{
    width: 40%;
}

.section-4 .row div img{
    /* height: 100%; */
    width: 80px;
}