:root{
    --background-color: #14120b;
    --text-color: #edecec;
    --card-color: #1b1913;
    --text-secondary: #aaa9a9;
    --card-hover: #1d1b15;
}

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

.container{
    width: 69%;
    margin: 0 auto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    font-size: 14px;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
}

.left-section{
    display: flex;
    align-items: center;
    gap: 8px;
}

.left-section .logo{
    width: 25px;
    height: 25px;
}
.left-section .name {
    width: 70px;
}

.middle-section{
    display: flex;
    text-decoration: none;
    gap: 30px;
}
.ctas{
    display: flex;
    text-decoration: none;
    gap: 15px;
}
.ctas .signin, .ctas .download{
    height: auto;
    border: 1px solid #fff;
    border-radius: 40px;
}
.ctas .signin div,  .ctas .download div{
    padding: 5px 10px;
}

.ctas .download{
    background-color: var(--text-color);
    color: var(--background-color);
}

.hero-section{
    padding-top: 112px;
}

.hero-section .text1, .hero-section .text2{
    font-size: 25px;
}

.hero-section .cta, .try-cursor .cta{
    margin-top: 20px;
}

.hero-section .cta, .try-cursor .cta{
    font-size: 20px;
    height: auto;
    width: 250px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: var(--text-color);
    color: var(--background-color);
}
.hero-section .cta a, .try-cursor .cta a{
    text-decoration: none;
    color: var(--background-color);
}

.hero-section .image-wrapper{
    padding-top: 50px;
    width: 100%;
    
}

.hero-section .image-wrapper img{
    border-radius: 10px;
    width: 100%;
}

.trusted-by{
    padding-top: 112px;
}

.trusted-by .text{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.trusted-by .logos{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trusted-by .logos .images{
    width: 150px;
    height: 80px;
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.trusted-by .logos .images img{
    width: 90px;
}
/* 
.feature-sections{
    padding-top: 122px;

} */

.feature-sections .section-1,  .feature-sections .section-2, .feature-sections .section-3{
    background-color: var(--card-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    gap: 30px;
    margin-top: 122px;
} 

.feature-sections .section-1:hover,  .feature-sections .section-2:hover, .feature-sections .section-3:hover{
    background-color: var(--card-hover);
}

.feature-sections .section-1, .feature-sections .section-3{
    flex-direction: row;
}

.feature-sections .section-2{
    flex-direction: row-reverse;
}

.feature-sections .section-1 .text .heading, .feature-sections .section-2 .text .heading, .feature-sections .section-3 .text .heading{
    /* padding: 0 10px; */
    font-size: 23px;
}
.feature-sections .section-1 .text .text-content, .feature-sections .section-2 .text .text-content,
.feature-sections .section-3 .text .text-content{
    /* padding: 0 10px; */
    font-size: 23px;
    color: var(--text-secondary)
}
.feature-sections .section-1 .text .cta, .feature-sections .section-2 .text .cta,.feature-sections .section-3 .text .cta{
    text-decoration: none;
    padding-top: 15px;
    color: #d24e00;
    font-size: 20px;
}

.feature-sections .section-1 .image-wrapper, .feature-sections .section-2 .image-wrapper, .feature-sections .section-3 .image-wrapper{
    flex: 2;
}

.testimonial-section{
    margin-top: 122px;
}

.testimonial-section .heading{
    text-align: center;
    font-size: 37px;
    margin-bottom: 60px;
}

.testimonials{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.testimonials .testimonial{
    background-color: var(--card-color);
    border-radius: 5px;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonials .testimonial .comment{
    font-size: 17px;
}

.testimonials .testimonial .author{
    
    display: flex;
    gap: 10px;
}

.testimonials .testimonial .author img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.testimonial .author .details{
    font-size: 14;
}

.testimonial .author .details .position{
    color: var(--text-secondary);
}

.frontier{
    margin-top: 122px;
}

.frontier .frontier-heading{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.frontier .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}

.frontier .cards .card{
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.frontier .cards .card .text{
    padding: 15px 20px 15px 20px; 
}

.frontier .cards .card .text .heading{
    font-size: 16px;
}

.frontier .cards .card .text .text-content{
    font-size: 16px;
    color: var(--text-secondary);

}

.frontier .cards .card .text .cta{
    text-decoration: none;
    padding-top: 15px;
    color: #d24e00;
    font-size: 16px;
}

.changelogs{
    margin-top: 122px;
}

.changelogs .changelogs-text{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.changelogs .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.changelogs .cards .card{
    background-color: var(--card-color);
    padding: 10px 20px;
    border-radius: 3px;
}

.changelogs  .cards .card .date{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    height: 30px;
}

.changelogs .cards .card .date .version{
    padding: 3px;
    width: 45px;
    border: 1px solid var(--text-secondary);
    border-radius: 19px;
    text-align: center;
}

.changelogs .cards .card .details{
    margin: 15px 0;
}

.changelogs .cta{
    text-decoration: none;
    color: #d24e00;
    font-size: 16px;
}

.try-cursor{
    margin-top: 61px;
    margin-bottom: 61px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 325px;
}

.try-cursor .text{
    font-size: 80px;
    font-weight: bold;
}

footer{
    background-color: var(--card-color);
    padding: 80px 0 10px;
}

.footer-container{
    width: 69%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
}

.footer-container div{
    width: 100%;
    
}

.footer-container div .category a{
    color: var(--text-secondary);
}

.footer-container div li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 13px;
}

.footer-container div li a{
    text-decoration: none;
    color: var(--text-color);
}

.copyright-section{
    display: flex;
    width: 69%;
    margin: 100px auto;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 13px;
    
}

.copyright-section .left-section{
    color: var(--text-secondary);
    
}

.copyright-section .right-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    
}

.copyright-section .right-section .dark-mode{
    background-color: #252522;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
}

.copyright-section .right-section .dark-mode div{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-dark{
    background-color: #413e3d;
    border-radius: 15px;
}

.copyright-section .right-section .language{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: #252522;
    display: flex;
    padding: 6px;
    border-radius: 15px;
}

.container-background{
    margin-top: 122px;
    background-color: var(--card-color);
}

.highlights-section{
    width: 69%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 0;
}

.highlights-section .card{
    background-color: #201e18;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.highlights-section .card:hover{
    background-color: #26241e;
}

.highlights-section .highlights{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.highlights-section .cta{
    text-decoration: none;
    padding-top: 15px;
    color: #d24e00;
    font-size: 20px;
}